/* You can add global styles to this file, and also import other style files */

.clickable {
    cursor: pointer;
}

.clickable:hover {
    text-shadow: 0 0 5px yellow;
}

.btn {
    margin-right: 10px;
}

input.ng-valid{
    border-left: 7px solid green !important;
}
input.ng-invalid {
    border-left: 7px solid red !important;
}
