<br>
<br>
<br>
<div class="row">
  <div class="col-sm-6 text-center">

    <img [src]="contact.picture" 
      class="img-responsive"
      [ngStyle]="{'width.px': 300, 'height.px': 300, 'border-radius.px': 10}" />

  </div>
  <div class="col-sm-6">

    <h3>{{ contact | fullname }} </h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>Adress</td>
          <td [innerHTML]="contact.address"></td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{ contact.city }}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{ contact.state }}</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{ contact.country }}</td>
        </tr>
        <tr>
          <td>Email address</td>
          <td>{{ contact.email }}</td>
        </tr>
        <tr>
          <td>Phone number</td>
          <td>{{ contact.phone }}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{ contact.dob | age : 2 }}</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-warning" 
      [routerLink]="['/contact-list']">Back to list</button>

    <button class="btn btn-success" (click)="storeContactInSession()"
      [routerLink]="['/edit-contact', contact.id]">Edit details</button>

    <button class="btn btn-danger" 
      (click)="confirmAndDelete()">Delete this contact</button>
  </div>

</div>